@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #F4F5F5;
}

html, body {
  background-color: #F4F5F5;
  scrollbar-width: thin;
  scrollbar-color: #71717A #D9D9D9;
}
